/* css_anim.css : Jose Collas : 7.2015 
Demonstrate a series of CSS animations : 
   tumbler, slow flasher, glower, color shifter, dropper,, bouncer, ufoer, clouder 
*/
html{
    background-color: #ccc;
    font-size: 46px;
}
div{
    position: absolute;
    border-radius: 24px;
    text-align: center;
    box-shadow: 9px 6px 7px rgba(20, 110, 200, .5);
    border-radius: 50px;
    padding: 32px 0 0 0 ;
}
div.spinner {
    top:40%;
    left: 40%;
    width: 100px;
    height: 100px;
    fonnt-size:12px;
    box-shadow: 19px 16px 27px rgba(20, 110, 200, .5);
    color: orange;
    background-color: #990;
    animation: spinner 5s linear 0s infinite alternate both;
}
@keyframes spinner{
    from{
        transorm:rotateY(360deg);
        z-index: 10;
    }
    to{
        transform: rotateY(360deg);
        z-index: 150;
    }
}
div.bouncer{
    top:10px;
    right: 10%;  
    padding: 12px;
    font-size: 20px;
    color:greenyellow;
    animation: bouncer 4s ease-in 3s infinite alternate none;
    z-index: 100;
}
@keyframes bouncer {
    from {
        top:0%;
        transform: scale(1);
        background-color: rgba(10, 200, 255, 0.4);
    }
    to {
        top:85%;
        transform: scale(2);
        background-color: rgba(10, 200, 255, 0.9);
    }
}