/* css/fles.css Jose Collas :  8.2015 */ 
body{
    text-align: center;
}
h3{
    background-color: aqua;
}
/* nav */
nav{
    position: absolute;
    display: flex;
    top:0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #ccc;
    align-items: center;
    justify-content: space-between;
}
nav section{
    background-color: red;    
    margin: 20px;
    padding: 7px;
}
/* content */
section.content{
    display: inline-flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: center;
    min-width:300px;
    margin-top: 45px;
    background-color: hsla( 200, 50%, 60%, 1.0) ;
}
section.content section{
    padding: 2px;
    margin: 5px 0 5px 0;
    min-width: 300px;
}
/* button */
section.content button{
    color: hsla( 40, 50%, 100%, 1.0) ;
    width: 300px;
    height: 40px;
    margin: 5px;
    align-self: center;
    background-color: hsla( 150, 50%, 60%, 1.0);
}
/* head */
section.content section.head{
    background-color: hsla( 250, 50%, 60%, 1.0) ;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
section.content section.head h1{
    color: hsla( 140, 50%, 60%, 1.0) ;
    background-color: hsla( 50, 50%, 60%, 0.3) ;
    margin: 0;
}
section.content section.head article{
    color: hsla( 40, 50%, 90%, 1.0) ;
    margin: 0;
}
/* item */
section.content section.item{
    flex: 1 3 1;
    background-color: hsla( 110, 50%, 60%, 1.0) ;
    color: hsla(180, 10%, 30%, 1);            
}
section.content section.items article {
    background-color: hsla( 10, 50%, 50%, 1.0) ;
    color: hsla(0, 10%, 90%, 1.0);            
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
/* info */
section.content section.info{
    background-color: hsla( 0, 90%, 70%, 1.0) ;
}
/* control */
section.content section.control{
    background-color: hsla( 50, 100%, 60%, 1.0) ;
    align-self:   center;
} 
/* items */
section.content section.items{
    background-color: hsla( 250, 100%, 60%, 1.0) ;
    display: flex;
    flex-flow: row wrap;
    width: 200px;
}
section.content section.items article{
    background-color: red;
    width: 125px;
    margin: 6px;
}
