
body {
    background-color: peru;
}
li:nth-child(odd){
    background-color: red;
}
form:nth-child(1){
    background-color: red;
}
/*input{*/
    /*background-color: green;*/
/*}*/
input:valid{
    background-color: blue;
}

h3 + P {
    color: red;
}

h3 ~ p {
    color: blue;
}
