body {
    background: #00f;
    font-family: sans-serif;
}

svg#moon {
    display: block;
    position: absolute;
    right: 100px;
    top: 10px;
    background-color: red;
    width: 100px;
    height: 100px;
}
svg#spinner{
    border-radius: 20px;
    background-color: azure;
}
svg tspan:nth-child(1) {
    /*fill: red;*/
}

svg.flame {
    /*display: block;*/
    position: absolute;
    left: 50px;
    top:50px;
    background-color: red;
}